* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: rgb(8,8,8);*/
    background-image: url('https://wallpapercave.com/wp/5KLTq1z.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
  
  
    
}

.container {
   background-color: aliceblue;
   
}

.quotes {
    margin-top: 10px;
    padding: 10px;
    background-color:rgb(120,0,0);
    background-image: url('https://wallpapercave.com/wp/5KLTq1z.jpg');
}

#quote {
    color: whitesmoke;
    /*animation: mymove 5s infinite;*/
    text-shadow: 10px 20px 30px rgb(176, 176, 194);
    position: relative;
    margin: 50px;
    padding: 50px; 
    text-align: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Beau Rivage', cursive;
    /*font-family: 'Montserrat', sans-serif;*/
}
/*@keyframes mymove {
    50% {box-shadow: 10px 20px 30px rgb(206, 206, 219);}
  }*/
 