* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8,8,8);
    
}

.container {
   background-color: aliceblue;
   
}

.quotes {
    background-color:rgb(120,0,0);
}

p {
    color: whitesmoke;
    position: relative;
    margin: 50px;
    padding: 50px; 
    text-align: center;
    justify-content: center;
    font-size: 200px;
    font-family: 'Beau Rivage', cursive;
    /*font-family: 'Montserrat', sans-serif;*/
}